@import "base.css";
html,body{
    width:100%;
    height:100%;
}
body{
    overflow: hidden;
    background:url("../../img/ggc.png") center/cover;
    padding:0 0.24rem;
    align-items: flex-end;
}
/*头部*/
header{
    width:100%;
    height:1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8rem;
}
header a{
    width: 0.4rem;
    height: 0.4rem;
}
header a:first-of-type{
    background: url("../../img/at_04.png") no-repeat center/cover;
}
header > p{
    font-size: 0.32rem;
    color: #ffffff;
}
ul.counter{
    width:100%;
    height: 7.3rem;
    /*background: #fc3158;*/
    position: absolute;
    top:0.5rem;
    left:0;
    margin-top:1rem;
    overflow: hidden;
}
ul.counter li{
    width:100%;
    height: 0.5rem;
    line-height: 0.5rem;
    /*background:yellow;*/
    font-size:0.26rem;
    text-align: center;
    color:#fff;
}
/*main*/
.main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}
.main>li>a>img{
    width: 100%;
    height: 100%;
    margin-bottom: 0.1rem;
}
.main>li:nth-of-type(1){
    width: 0.88rem;
    height: 0.88rem;
    /*background: #ff318d;*/
    /*border-radius: 50%;*/
}
.main>li:nth-of-type(2){
    width: 0.88rem;
    height: 0.88rem;
    /*background:#31d6ff;*/
    /*border-radius: 50%;*/
}
.main>li:nth-of-type(3){
    width: 1.12rem;
    height: 1.12rem;
    /*background:#af31ff;*/
    /*border-radius: 50%;*/
}
.main>li:nth-of-type(4){
    width: 0.88rem;
    height: 0.88rem;
    /*background:#ffcc31 ;*/
    /*border-radius: 50%;*/
}
.main>li:nth-of-type(5){
    width: 0.88rem;
    height: 0.88rem;
    /*background:#ff6b31 ;*/
    /*border-radius: 50%;*/
 }
.main>li>a{
   display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main>li>a>span{
    font-size: 0.24rem;
    color: #575861;
}
.tiao{
    margin-top: 1rem;
    width:100%;
    height: 2rem;
    /*background: blue;*/
    padding:0 0.3rem;
}
.tiao .jindu{
    width:100%;
    height: 0.48rem;
    /*background: #e8d9dd;*/
    margin-bottom:0.5rem;
    display: flex;
    justify-content: space-between;
}
.tiao .jindu .logo{
    width:0.48rem;
    height:0.48rem;
    display: block;
}
.tiao .jindu .logo img{
    display: block;
    width:100%;
    height: 100%;
}
.tiao .jindu .progress{
    width:4rem;
    height: 0.06rem;
    background: #e8d9dd;
    margin-top: 0.2rem;
    position: relative;
}
.tiao .jindu .progress .progressed{
    width:0;
    height:100%;
    background: red;
    position: absolute;
    top:0;
    left:0;
}
.tiao .jindu .progress .progressed .button{
    width:0.2rem;
    height:0.2rem;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    right:-0.1rem;
    top:-0.1rem;
}
.tiao .jindu .ctime{
    width:0.5rem;
    height:auto;
    font-size: 0.12rem;
    color:#ccc;
}
.tiao .jindu .stime{
    width:0.5rem;
    height:auto;
    font-size: 0.12rem;
    color:#ccc;
}
.tiao .yinliang{
    width:100%;
    height: 0.48rem;
    /*background: #e8d9dd;*/
    margin-bottom:0.5rem;
    display: flex;
    justify-content: space-between;
}
.tiao .yinliang .logo{
    width:0.48rem;
    height:0.48rem;
    display: block;
}
.tiao .yinliang .logo img{
    display: block;
    width:100%;
    height: 100%;
}
.tiao .yinliang .progress{
    width:4rem;
    height: 0.06rem;
    background: #e8d9dd;
    margin-top: 0.2rem;
    position: relative;
}
.tiao .yinliang .progress .progressed{
    width:0;
    height:100%;
    background: red;
    position: absolute;
    top:0;
    left:0;
}
.tiao .yinliang .progress .progressed .button{
    width:0.2rem;
    height:0.2rem;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    right:-0.1rem;
    top:-0.1rem;
}
.tiao .yinliang .ctime{
    width:0.5rem;
    height:auto;
    font-size: 0.12rem;
    color:#ccc;
}
.tiao .yinliang .stime{
    width:0.5rem;
    height:auto;
    font-size: 0.12rem;
    color:#ccc;
}