<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/php/ktv/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/php/ktv/Public/css/play.css">
    <script src="/php/ktv/Public/js/jquery.js"></script>
    <script src="/php/ktv/Public/js/play.js"></script>
    <script src="/php/ktv/Public/js/iscroll.js"></script>
</head>
<body>
<audio src="" id="audio" autoplay></audio>
<header>
    <a href="javascript:history.back()"></a>
    <p class="title"></p>
    <a></a>
</header>
<ul class="counter">
    <li></li>
</ul>
<ul class="main">
    <li>
        <a href="">
            <img src="/php/ktv/img/1.png" alt="">
            <span>原唱</span>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/php/ktv/img/2.png" alt="">
            <span>切歌</span>
        </a>
    </li>
    <li>
        <a class="play">
            <img src="/php/ktv/img/3.png" alt="">
            <span>播放</span>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/php/ktv/img/4.png" alt="">
            <span>重唱</span>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/php/ktv/img/5.png" alt="">
            <span>录歌</span>
        </a>
    </li>
</ul>
<div class="tiao">
    <div class="jindu">
        <div class="logo"><img src="/php/ktv/img/ly_06.png" alt=""></div>
        <div class="progress">
            <div class="progressed">
                <div class="button"></div>
            </div>
        </div>
        <div class="ctime">01:00</div>
        <div class="stime">04:55</div>
    </div>
    <div class="yinliang">
        <div class="logo"><img src="/php/ktv/img/ly_07.png" alt=""></div>
        <div class="progress">
            <div class="progressed">
                <div class="button"></div>
            </div>
        </div>
        <div class="ctime">01:00</div>
        <div class="stime">04:55</div>
    </div>
</div>
</body>
</html>

