<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商店</title>
    <script src="/php/ktv/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/php/ktv/Public/css/rank.css">
    <script src="/php/ktv/Public/js/jquery.js"></script>
    <script src="/php/ktv/Public/js/rank.js"></script>
    <script src="/php/ktv/Public/js/iscroll.js"></script>
    <script src="/php/ktv/Public/js/swiper.min.js"></script>
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p class="">内地女歌手</p>
    <a></a>
</header>
<nav>
    <div class="wine">
        <span>歌手</span>
    </div>
    <div class="snack">
        <span>排行</span>
    </div>
    <div class="snack">
        <span>常唱</span>
    </div>
    <div class="snack">
        <span>推荐歌单</span>
    </div>
</nav>
<div class="search">
    <li>月排行</li>
    <li class="active">季排行</li>
    <li>年排行</li>
</div>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="banner">
            <li>
                <a href=""><img src="/php/ktv/img/xgs.png" alt=""></a>
                <div class="sou">演员——薛之谦
                    <div class="right"><img src="/php/ktv/img/at_04.png" alt=""></div>
                </div>
            </li>
            <li>
                <a href=""><img src="/php/ktv/img/singer-04.png" alt=""></a>
            </li>
            <li>
                <a href=""><img src="/php/ktv/img/singer-04.png" alt=""></a>
            </li>
        </div>
    </div>
</div>
<div class="wrapper singerslist">
<ul class="scroll active">
    <!--<li>
        <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
        <div class="son">
            <span>告白气球-周杰伦</span>
            <span>04"52'</span>
        </div>
    </li>
    <li>
        <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
        <div class="son">
            <span>告白气球-周杰伦</span>
            <span>04"52'</span>
        </div>
    </li>
    <li>
        <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
        <div class="son">
            <span>告白气球-周杰伦</span>
            <span>04"52'</span>
        </div>
    </li>
    <li>
        <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
        <div class="son">
            <span>告白气球-周杰伦</span>
            <span>04"52'</span>
        </div>
    </li>
    <li>
        <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
        <div class="son">
            <span>告白气球-周杰伦</span>
            <span>04"52'</span>
        </div>
    </li>-->
</ul>
</div>
</body>
</html>