<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>推荐歌单</title>
    <script src="/php/ktv/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/php/ktv/Public/css/recommend.css">
    <script src="/php/ktv/Public/js/jquery.js"></script>
    <!--<script src="/php/ktv/Public/js/recommend.js"></script>-->
    <script src="/php/ktv/Public/js/iscroll.js"></script>
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p class="">推荐歌单</p>
    <a></a>
</header>
<div class="wrapper singerslist">
<ul class="scroll active">
    <li>
        <img src="/php/ktv/img/xgs.png" alt="">
        <span>摔跤吧，爸爸</span>
        <div class="des">
            <div class="renshu">
                <div class="ren"></div>
                <div class="shu">27万</div>
            </div>
            <div class="tingzhong">
                <div class="ting"></div>
                <div class="zhong">86首</div>
            </div>
        </div>
    </li>
    <li>
        <img src="/php/ktv/img/xgs.png" alt="">
        <span>摔跤吧，爸爸</span>
        <div class="des">
            <div class="renshu">
                <div class="ren"></div>
                <div class="shu">27万</div>
            </div>
            <div class="tingzhong">
                <div class="ting"></div>
                <div class="zhong">86首</div>
            </div>
        </div>
    </li>
    <li>
        <img src="/php/ktv/img/xgs.png" alt="">
        <span>摔跤吧，爸爸</span>
        <div class="des">
            <div class="renshu">
                <div class="ren"></div>
                <div class="shu">27万</div>
            </div>
            <div class="tingzhong">
                <div class="ting"></div>
                <div class="zhong">86首</div>
            </div>
        </div>
    </li>
    <li>
        <img src="/php/ktv/img/xgs.png" alt="">
        <span>摔跤吧，爸爸</span>
        <div class="des">
            <div class="renshu">
                <div class="ren"></div>
                <div class="shu">27万</div>
            </div>
            <div class="tingzhong">
                <div class="ting"></div>
                <div class="zhong">86首</div>
            </div>
        </div>
    </li>
    <li>
        <img src="/php/ktv/img/xgs.png" alt="">
        <span>摔跤吧，爸爸</span>
        <div class="des">
            <div class="renshu">
                <div class="ren"></div>
                <div class="shu">27万</div>
            </div>
            <div class="tingzhong">
                <div class="ting"></div>
                <div class="zhong">86首</div>
            </div>
        </div>
    </li>
</ul>
</div>
</body>
</html>