<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>歌手分类</title>
    <script src="/php/ktv/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/php/ktv/Public/css/singer.css">
    <script src="/php/ktv/Public/js/jquery.js"></script>
    <script src="/php/ktv/Public/js/singer.js"></script>
    <script src="/php/ktv/Public/js/iscroll.js"></script>
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p class="">音乐库</p>
    <a></a>
</header>
<nav>
    <li class="active">歌手</li>
    <li>排行</li>
    <li>常唱</li>
    <li>推荐歌单</li>
</nav>
<div class="container">
    <div class="content singer">
        <div id="search">
            <input type="text" placeholder="请输入您要搜索的歌手">
        </div>
        <ul class="aside"></ul>
        <div class="wrapper singerlist">
            <ul class="scroll active">

            </ul>
        </div>
    </div>
    <div class="content rank">
        <div class="ranksort">
            <li>月排行</li>
            <li class="actives">季排行</li>
            <li>年排行</li>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="banner">
                    <li class="pic1">
                        <a href=""><img src="/php/ktv/img/singer-04.png" alt=""></a>
                    </li>
                    <li class="pic2">
                        <a href=""><img src="/php/ktv/img/xgs.png" alt=""></a>
                        <!--<div class="sou">演员——薛之谦
                            <div class="right"><img src="/php/ktv/img/at_04.png" alt=""></div>
                        </div>-->
                    </li>
                    <li class="pic3">
                        <a href=""><img src="/php/ktv/img/singer-06.png" alt=""></a>
                    </li>
                </div>
            </div>
        </div>
        <div class="wrapper ranklist">
            <ul class="scroll active">
                <!--<li>
                    <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
                    <div class="son">
                        <span>告白气球-周杰伦</span>
                        <span>04"52'</span>
                    </div>
                </li>
                <li>
                    <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
                    <div class="son">
                        <span>告白气球-周杰伦</span>
                        <span>04"52'</span>
                    </div>
                </li>
                <li>
                    <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
                    <div class="son">
                        <span>告白气球-周杰伦</span>
                        <span>04"52'</span>
                    </div>
                </li>
                <li>
                    <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
                    <div class="son">
                        <span>告白气球-周杰伦</span>
                        <span>04"52'</span>
                    </div>
                </li>
                <li>
                    <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
                    <div class="son">
                        <span>告白气球-周杰伦</span>
                        <span>04"52'</span>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
    <div class="content often">
        <div class="wrapper oftenlist">
            <ul class="scroll active">
                <li>
                    <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
                    <div class="son">
                        <span>告白气球-周杰伦</span>
                        <span>04"52'</span>
                    </div>
                    <span class="add"></span>
                </li>
                <li>
                    <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
                    <div class="son">
                        <span>告白气球-周杰伦</span>
                        <span>04"52'</span>
                    </div>
                    <span class="add"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="content recommend">
        <div class="wrapper recommendlist">
            <ul class="scroll active">
                <li>
                    <img src="/php/ktv/img/xgs.png" alt="">
                    <span>摔跤吧，爸爸</span>
                    <div class="des">
                        <div class="renshu">
                            <div class="ren"></div>
                            <div class="shu">27万</div>
                        </div>
                        <div class="tingzhong">
                            <div class="ting"></div>
                            <div class="zhong">86首</div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/php/ktv/img/xgs.png" alt="">
                    <span>摔跤吧，爸爸</span>
                    <div class="des">
                        <div class="renshu">
                            <div class="ren"></div>
                            <div class="shu">27万</div>
                        </div>
                        <div class="tingzhong">
                            <div class="ting"></div>
                            <div class="zhong">86首</div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/php/ktv/img/xgs.png" alt="">
                    <span>摔跤吧，爸爸</span>
                    <div class="des">
                        <div class="renshu">
                            <div class="ren"></div>
                            <div class="shu">27万</div>
                        </div>
                        <div class="tingzhong">
                            <div class="ting"></div>
                            <div class="zhong">86首</div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/php/ktv/img/xgs.png" alt="">
                    <span>摔跤吧，爸爸</span>
                    <div class="des">
                        <div class="renshu">
                            <div class="ren"></div>
                            <div class="shu">27万</div>
                        </div>
                        <div class="tingzhong">
                            <div class="ting"></div>
                            <div class="zhong">86首</div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/php/ktv/img/xgs.png" alt="">
                    <span>摔跤吧，爸爸</span>
                    <div class="des">
                        <div class="renshu">
                            <div class="ren"></div>
                            <div class="shu">27万</div>
                        </div>
                        <div class="tingzhong">
                            <div class="ting"></div>
                            <div class="zhong">86首</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    let lilist=document.querySelectorAll('.banner>li');
    let imgArray=['pic1','pic2','pic3'];
    let index=0;
    let timer=setInterval(nextPic, 2000);
    function nextPic(){
        imgArray.unshift(imgArray[2]);
        imgArray.pop();
        for(let i in lilist){
            if(i-0+1) lilist[i].setAttribute('class',imgArray[i]);
        }
        index++;
        if(index>2){
            index=0;
        }
    }
    function prePic(){
        imgArray.push(imgArray[1]);
        imgArray.shift();
        for(let i in lilist){
            if(i-0+1) {lilist[i].setAttribute('class',imgArray[i])};
        }
        index--;
        if(index<0){
            index=2;
        }
    }
</script>
<!--<script>-->
    <!--window.addEventListener('load',function(){-->
        <!--let search=document.querySelector('#search');-->
        <!--let aside=document.querySelector('.aside');-->
        <!--let conli=document.querySelector('.singerlist>.scroll');-->
        <!--let info=[-->
            <!--{name:'内地',py:'neidi'},-->
            <!--{name:'港台',py:'neidi'},-->
            <!--{name:'欧美',py:'neidi'},-->
            <!--{name:'日本',py:'neidi'},-->
            <!--{name:'韩国',py:'neidi'},-->
            <!--{name:'其他',py:'neidi'},-->
        <!--]-->
        <!--renderr(info);-->
        <!--let dts=document.querySelectorAll('.singerlist>.scroll>li');-->
        <!--console.log(dts)-->
        <!--let arr=[];-->
        <!--let heights=document.querySelector('header').offsetHeight;-->
        <!--dts.forEach(element=>arr.push(element.offsetTop));-->
        <!--window.onscroll=function(){-->
            <!--let st=document.documentElement.scrollTop||document.body.scrollTop;-->
            <!--arr.forEach((element,index)=>{-->
                <!--if(st+heights>=element){-->
<!--//                    tip.innerText=dts[index].innerText;-->
                <!--}-->
            <!--})-->
        <!--}-->
        <!--search.onkeyup=function(){-->
            <!--let value=this.value.trim();-->
            <!--let data=info.filter(function(element){-->
                <!--return element.name.includes(value)||element.py.includes(value);-->
            <!--})-->
            <!--renderr(data);-->
        <!--}-->
        <!--function renderr(data){-->
            <!--conli.innerHTML='';-->
            <!--aside.innerHTML='';-->
            <!--let obj={};-->
            <!--data.forEach(function(element){-->
                <!--let first=element.py.charAt(0).toUpperCase();-->
                <!--if(!obj[first]){-->
                    <!--obj[first]=[];-->
                <!--}-->
                <!--obj[first].push(element);-->
            <!--})-->
            <!--let char=Object.keys(obj).sort();-->
            <!--char.forEach(element=>{-->
<!--//                conli.innerHTML+=`<li>${element}</li>`;-->
                <!--obj[element].forEach(value=>{-->
                    <!--conli.innerHTML+=`-->

				    <!--`-->
                    <!--aside.innerHTML=`-->
				<!--<li>A</li>-->
		        <!--<li>B</li>-->
		        <!--<li>C</li>-->
		        <!--<li>D</li>-->
		        <!--<li>E</li>-->
		        <!--<li>F</li>-->
		        <!--<li>G</li>-->
		        <!--<li>H</li>-->
		        <!--<li>I</li>-->
		        <!--<li>J</li>-->
		        <!--<li>K</li>-->
		        <!--<li>L</li>-->
		        <!--<li>M</li>-->
		        <!--<li>N</li>-->
		        <!--<li>0</li>-->
		        <!--<li>P</li>-->
		        <!--<li>Q</li>-->
		        <!--<li>R</li>-->
		        <!--<li>S</li>-->
		        <!--<li>T</li>-->
		        <!--<li>U</li>-->
		        <!--<li>V</li>-->
		        <!--<li>W</li>-->
		        <!--<li>X</li>-->
		        <!--<li>Y</li>-->
		        <!--<li>Z</li>-->
		        <!--<li>#</li>`-->
                <!--})-->
            <!--})-->
        <!--}-->
    <!--})-->
<!--</script>-->
</body>
</html>