<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商店</title>
    <script src="/php/ktv/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/php/ktv/Public/css/songs.css">
    <script src="/php/ktv/Public/js/jquery.js"></script>
    <script src="/php/ktv/Public/js/songs.js"></script>
    <script src="/php/ktv/Public/js/iscroll.js"></script>
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p class=""></p>
    <a class="aready">已选</a>
</header>
<nav>
    <div class="touxiang">
        <img src="" alt="">
        <div class="shadow"></div>
    </div>
    <div class="ziliao">
        <div class="title">
            <span></span>
        </div>
        <div class="zuopin">
            <div class="song">
                <span class="logo1"></span>
                <span>歌曲</span>
                <span class="snum"></span>
            </div>
        </div>
        <div class="tips">本月点击量
            <span></span>
        </div>
    </div>
</nav>
<div class="wrapper songslist">
<ul class="scroll active">
    <!--<li>
        <span id="xuhao">01</span>
        <div class="son">
            <span>告白气球-周杰伦</span>
            <span>04"52'</span>
        </div>
        <span class="add"></span>
    </li>
    <li>
        <span id="xuhao">01</span>
        <div class="son">
            <span>告白气球-周杰伦</span>
            <span>04"52'</span>
        </div>
        <span class="add"></span>
    </li>
    <li>
        <span id="xuhao">01</span>
        <div class="son">
            <span>告白气球-周杰伦</span>
            <span>04"52'</span>
        </div>
        <span class="add"></span>
    </li>
    <li>
        <span id="xuhao">01</span>
        <div class="son">
            <span>告白气球-周杰伦</span>
            <span>04"52'</span>
        </div>
        <span class="add"></span>
    </li>
    <li>
        <span id="xuhao">01</span>
        <div class="son">
            <span>告白气球-周杰伦</span>
            <span>04"52'</span>
        </div>
        <span class="add"></span>
    </li>
    <li>
        <span id="xuhao">01</span>
        <div class="son">
            <span>告白气球-周杰伦</span>
            <span>04"52'</span>
        </div>
        <span class="add"></span>
    </li>
    <li>
        <span id="xuhao">01</span>
        <div class="son">
            <span>告白气球-周杰伦</span>
            <span>04"52'</span>
        </div>
        <span class="add"></span>
    </li>
    <li>
        <span id="xuhao">01</span>
        <div class="son">
            <span>告白气球-周杰伦</span>
            <span>04"52'</span>
        </div>
        <span class="add"></span>
    </li>
    <li>
        <span id="xuhao">01</span>
        <div class="son">
            <span>告白气球-周杰伦</span>
            <span>04"52'</span>
        </div>
        <span class="add"></span>
    </li>-->
</ul>
</div>
</body>
</html>