<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商店</title>
    <script src="/php/ktv/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/php/ktv/Public/css/tiped.css">
    <script src="/php/ktv/Public/js/jquery.js"></script>
    <script src="/php/ktv/Public/js/tiped.js"></script>
    <script src="/php/ktv/Public/js/iscroll.js"></script>
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p class="">已点歌曲</p>
    <a></a>
    <a class="num"></a>
</header>
<div class="wrapper winelist active">
    <ul class="scroll active">
        <!--<li>
            <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
            <div class="son">
                <span>告白气球-周杰伦</span>
                <span>04"52'</span>
            </div>
            <span class="add"></span>
            <span class="toTop"></span>
        </li>-->
    </ul>
</div>
</body>
</html>